.sidebar{
    background-color: var(--app-color);
    border-top: 1px solid white;
    max-width: 260px;
}
.sidebar__info{
    flex: 1;
}
.sidebar__info > h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}
.sidebar__info > h3{
    display: flex;
    align-items: center;
}
.sidebar__info > h3 > .MuiSvgIcon-root{
    color: green;
    font-size: 14px;
    margin: 2px 2px 0 0;
}
.sidebar__header{
    display: flex;
    padding-bottom: 10px;
    padding: 13px;
    border-bottom: 1px solid rgb(195, 0, 213);
}
.sidebar__header > .MuiSvgIcon-root{
    padding: 10px;
    color: violet;
    background-color: wheat;
    border-radius: 50%;
    font-size: 18px;
}